fastapi
uvicorn[standard]
gunicorn
python-dotenv
pydantic[email]==2.10.6
sqlalchemy
requests
pandas
numpy
scikit-learn
joblib
google-generativeai
python-jose[cryptography]
bcrypt==4.1.3
google-auth
google-auth-oauthlib
httpx
groq
cerebras-cloud-sdk
resend
